# Comandos de Python

![enter image description here](https://www.python.org/static/community_logos/python-logo-master-v3-TM.png)

**Autor:** Silvio da Rosa Paula

#### Dicionário de Termos:             
    
|Abreviação  | Descrição |
|------------|-----------|
|     df     | dataframe |
|     TB     | tabela    |
|    Var     | Coluna    |

#### Operadores de Comparação:
Os operadores de comparação sempre retornam um valor lógico TRUE ou FALSE.

| Operador |   Significado    |
|----------|------------------|
|     ==   | igual a          |
|     !=   | diferente de	    |
|     >    | maior que        |
|     <    | menor que        |
|     >=   | maior ou igual a |
|     <=   | menor ou igual a |

#### Operadores  Aritméticos

| Operador |   Descrição      |
|----------|------------------|
|     +    | adição           |
|     -    | subtração	      |
|     *    | multiplicação    |
|     /    | divisão          |
|     //   | divisão sem resto|
|    :     | sequência        |
|     ^    |  exponencial     |
|    %     | módulo           |

#### Operadores lógicos e boleanos

| Operador  |   Descrição     |
|-----------|-----------------|
|     and   | "e" lógico      |
|     or    | "ou" lógico     |
|     not   | "não" lógico    |
|     +=    | adiciona o item a mais e soma   |
|     bool(0)   |  booleano onde 0 = FALSE    |
|     bool(1)   |  booleano onde 1 = TRUE     |

## Atalhos

| Operação                      |    Atalho                 |
|-------------------------------|---------------------------|
|Executar                       | Ctrl  + Enter             |
|Salvar script                  | Ctrl + S                  |
|Limpar console                 | Ctrl + L                  |
|Lista  argumentos da função    | Ctrl + espaço  ou Tab     |
|Adicionar pipe(`%>%`)          | Ctrl + shift + M          |
|Cria um chunk no R Markdown    | Ctrl + Alt + I            |
|Restart Rstudio                | Crtl + Shift + F10        |
|Visualizar todos os atalhos    | Alt  + Shift + K          |
|Mais Zoom                      | Crtl  +                   |
|Menos Zoom                     | Crtl  -                   |

**Para abrir o Jupyter notebook direto da pasta onde estão os scripts** 

* Pressione shift + Botão direto do mouse / seleciona abrir janela do powershel aqui / digite: jupyter notebook

**LINKS ÚTEIS**     

* Documentação Python https://docs.python.org/release/3.6.4/

* PyPi https://pypi.python.org/pypiData

**Para instalar thema escuro no jupyter via pronpt de comando do python**
* pip install jupyterthemes      
* jt -l # para listar themas      
* jt -t monokai # escolhendo thema monokai      
* jt -r # thema padrão

In [3]:
# Para inserir comentários maiores ou texto
"""cole o texto aqui"""

'cole o texto aqui'

## Instalar e Carregar Pacotes

In [ ]:
# Ver a versão do Python que estamos utilizando
from platform import python_version
print('Versão da Linguagem Python', python_version())

In [ ]:
# Instalar pacote no Python diretamente do jupyter 
!pip3 install -U dataprep

# ATENÇÃO: é melhor instalar pelo terminal para evitar erros
pip install -U dataprep
conda install -c conda-forge dataprep

In [ ]:
# Instalar uma versão mais antiga de um pacote
!pip install -q -U matplotlib==3.2.1

In [ ]:
# Instalar pacote no baixado no computador 
conda install D:/package-filename.tar.bz2

In [ ]:
# Atualizar pacotes
!conda update jupyter

In [ ]:
# Carregar pacotes instalados
#[OBS: o np significa  basta chamar np ao invés do nome do pacote inteiro numpy
import numpy as np
import pandas as pd
import matplotlib
import seaborn as sns

In [ ]:
# Importar todos os módulos do NumPy, isso evitará a utilização de np.
from numpy import * .

In [ ]:
# Ver todos os modulos de um pacote 
dir(pd)

In [ ]:
# importar somente um modulo de um pacote
import matplotlib.pyplot as plt
from sklearn.utils import resample

In [ ]:
# Descarregar pacotes

In [ ]:
# Verificar a versão do pacote
import numpy as np
np.__version__

In [ ]:
# Utilizar uma função específica de um pacote sem carregar o pacote

In [ ]:
# Acessar a documentação

In [ ]:
# Para acessar o help de um pacote 
help(pd)

In [ ]:
# Filtar warnings
import warnings

In [ ]:
# Limpar console e base de dados

In [ ]:
# Ver pasta de trabalho
%pwd

# Definir pasta de trabalho
%cd C:\pasta

## Visualização de Dataframes

In [ ]:
# Visualizar uma prévia do dataframe
df.head()

In [ ]:
# Visualizar as primeiras 10 linhas do dataframe
df.head(10)

In [ ]:
# Visualizar as últimas 10 linhas do dataframe
df

In [ ]:
# visualizar dados de uma condição
df[df['var']<0]

In [ ]:
# Pedir resumo de variáveis, quantas são numericas, string etc
# conda install -c conda-forge pandas-profiling
import pandas_profiling
pandas_profiling.ProfileReport(df)

# ou
profile = ProfileReport(df, title="Pandas Profiling Report")

# ver mais em:
# https://pypi.org/project/pandas-profiling/

In [ ]:
# Visualizar pesquisa no data frame
df.query('idade > 20 & sexo=="F"').head(10)
df.query('idade > 20 | sexo=="F"').head(10)

# ou
import mitosheet
mitosheet.sheet(df.query('idade > 20 & tp_sexo=="F"').head(10), view_df=True)

# ver mais em:
# https://minerandodados.com.br/analise-de-dados-com-python-usando-pandas/

In [ ]:
# Visualizar dimensões do dataframe (linhas e colunas)
df.shape

# Ver outras informações como tipo de variável observaçoes numero das colunas
df.info()

In [ ]:
# Visualizar o nome das colunas de um dataframe
print(df.columns.values)

# ou
print(df.columns.tolist())

# ou
list(df)

#ou
pd.DataFrame(df.columns)

In [ ]:
# Visualizar nome de colunas utilizando seu número

In [ ]:
# Visualizar detalhes das variáveis do dataframe

In [ ]:
# Visualizar o tipo das colunas de um dataframe
df.dtypes.head(10)

# Ou

df.types

In [ ]:
# Visualizar o tipo de classe de uma variável (numérico, string, etc.)

In [ ]:
# Visualizar a classe de um objeto (numeric, matrix, data.frame, etc,)
type(df)

In [ ]:
# ver todos os dataframes carregados
%who
%who_ls

In [ ]:
# table(R) ou tab(stata) no python
df.value_counts('var')

# table ampliado para todas as variáveis
df.groupby(['col1']).count()

In [ ]:
# Visualizar apenas algumas colunas
df[['var_1', 'var_2', 'var_3']].head()

In [ ]:
# Visualizar dados de forma interativa e automatizada gerado gráficos e tudo mais
import mitosheet
mitosheet.sheet(df, view_df=True)

In [ ]:
# Tabelar dados categoricos (tab ou table)
np.unique(df['var'], return_counts=True)

## Manipulando Dataframes

In [ ]:
# Ordenando alfabeticamente as colunas de um dataframe

In [ ]:
# Ordenar uma coluna de um dataframe

In [ ]:
# Ordenar nomes das colunas de um dataframe

In [ ]:
# Gerar uma amostra com o comando subset

In [ ]:
# Gerar uma amostra com período delimitado
df_2010 = df[df['Ano']==2010]

In [ ]:
# Gerar uma amostra com as primeiras 1000 linhas de um dataframe

In [ ]:
# Reshape de long para wide

In [ ]:
# Clonar uma variável
df['var_clone'] = df['var']

In [ ]:
# Deixar somente alguns dos dataframes selecionados

In [ ]:
# Remover dataframe

In [ ]:
# Renomear data.frame

In [ ]:
# Renomear colunas
df = df.rename(columns={'nome_antigo_1': 'nome_novo_1', 
                        'nome_antigo_2': 'nome_novo_2'})

In [ ]:
# Passar nome das colunas para minuscula
df= df.rename(columns=str.lower)

In [ ]:
# Renomear múltiplas colunas de um só vez

In [ ]:
# Renomear colunas de um data.frame

In [ ]:
# Renomear colunas adicionando um prefixo e sufixo

In [ ]:
# Dropar (deletar) colunas do dataframe
df.drop('var', axis=1, inplace=True)

# Onde: axis=1 indica que é uma coluna; inplace=True remove somente a coluna e mantem o restante dos dados

# Dropar (deletar) maide uma colunas do dataframe
df.drop(['var_1', 'var_2'], axis=1, inplace=True)

In [ ]:
# Dropar determinados registros baseados em uma condição
df = df.drop(df[df['var'] <0].index)

In [ ]:
# Dropar (deletar) colunas do dataframe e gerar outro dataframe
df2 = df.drop('var', axis=1, inplace=False)

# Onde: axis=1 indica que é uma coluna; inplace=False para atribuir a modificação a outro dataframe

In [ ]:
# Gerar uma nova coluna dentro em um dataframe

In [ ]:
# Gerar nova coluna por meio da soma de duas colonas desconsiderando os missings (soma)

In [ ]:
# Gerar uma nova coluna tirando o logaritmo de uma variável

In [ ]:
# Gerar múltiplas colunas em logaritmo

In [ ]:
# Adicionar um label a uma coluna

In [ ]:
# Converter uma coluna de numérico para string

In [ ]:
# Converter uma coluna de string para numérico substituindo as virgulas por pontos
df['var'] = pd.to_numeric(df['var'].str.replace(',','.'))

In [ ]:
# Converter uma coluna para numérico

In [ ]:
# Converter um conjunto de colunas para numérico

In [ ]:
# Converter todo dataframe para numérico
df.apply(pd.to_numeric, errors='ignore')

In [ ]:
# Converter uma coluna para fator

In [ ]:
# Converter colunas selecionadas para numérico

In [ ]:
# Gerar uma variável categórica

In [ ]:
# Arredondando valores de uma coluna ou de varias colunas

In [ ]:
# Arredondar valores de todas as colunas exceto a var1

In [ ]:
# Arredondar valores de todas as colunas cujo nome começa por VAR

In [ ]:
# Arredondar valores apenas colunas numéricas

In [ ]:
# Agregar os dados com a soma

In [ ]:
# Replace com ifelse

In [ ]:
# Remover primeira e última linha

In [ ]:
# Gerar categorias a partir de uma variável númericas

In [ ]:
# Transformar valores númericos em categorias nominais
df['var_categorica'] = df['var_numerica'].map({1: categoria_1, 2: categoria_2, 3: categoria_3})

## Variáveis do Tipo Data (Date)

In [ ]:
# Converter uma variável para o tipo date

In [ ]:
# Extrair apenas o ano de uma coluna do tipo date

In [ ]:
# Extrair apenas o mês de uma coluna do tipo date

In [ ]:
# Extrair apenas o dia de uma coluna do tipo date

In [ ]:
# Dividir coluna date em várias colunas

## Missings

In [ ]:
# Ver total de missings das colunas de um dataframe
df.isnull().sum()

In [ ]:
# Ver total de missings das colunas de um dataframe na ordem descrescente
df.isnull().sum().sort_values(ascending=False)[:30]

In [ ]:
# Ver os registros com missings 
df.loc[pd.isnull(df['var'])]

In [ ]:
# Ver os registros com missings 
df.loc[pd.isnull(df['var'])]

In [ ]:
# Ver as linhas e colunas com missings
df[df.isnull().any(axis=1)]

In [ ]:
# Plotar missings
plt.figure(figsize=(10,6))
sns.displot(
    data=df.isna().melt(value_name="missing"),
    y="variable",
    hue="missing",
    multiple="fill",
    aspect=1.25
)

# Ou
plt.figure(figsize=(10,6))
sns.heatmap(df.isna().transpose(),
            cmap="YlGnBu",
            cbar_kws={'label': 'Missing Data'})

# Ou
plt.figure(figsize=(30,10))
sns.heatmap(df.isnull(),cbar=False)

In [ ]:
# Fazer resumo de missings e zeros

In [ ]:
# Ver total de células vazias de uma coluna string

In [ ]:
# Remover missings e deixar o dataframe completo sem missings
df_2 = df.dropna()

In [ ]:
# Removendo cédulas vazias (missings) de um dataframe

In [ ]:
# Remover missings baseado em uma variável

In [ ]:
# Imputar dados faltante com interpolação

In [ ]:
# Substituir missings pela Média, Mediana, Moda GERAL
df['var'].fillna(df['var'].mode()[0], inplace = True) 
df['var'].fillna(df['var'].median(), inplace = True) 
df['var'].fillna(df['var'].mean(), inplace = True)

In [ ]:
#  Preencher os valores inconsistentes com as médias
df['var'][df['var']>0].mean()

# Fazendo o replace
df.loc[df['var']<0, 'var']=40 # 40 é a média por exemplo

In [ ]:
# Preencher missings com a mediana

# extrair a mediana de var
var_mediana = df.var.median()

# preencher a coluna LotFrontage com a mediana
df.fillna(var_mediana, inplace=True)

In [ ]:
# Preencher missings com a moda
# identificar o valor mais frequente
print(df.var.value_counts())
var_freq = df.var.value_counts()[0]

# preencher missing values com o valor acima
df.var.fillna(var_freq, inplace=True)

In [ ]:
# Substituir missings pela mediana GERAL isso evita problemas com outliers

In [ ]:
# Substituir missings pela média agrupada por id

In [ ]:
# Substituir missings pela mediana agrupada por id

In [ ]:
# Substituir missings pela média e mediana agrupada por id

In [ ]:
# Ver o total de missings de uma coluna

In [ ]:
# Excluir missings das colunas var1 ou var2 ou var3 e gerar um novo dataframe

In [ ]:
# Substituir de missings de uma coluna por valores de outra coluna

In [ ]:
# Substituir missings por zero
df['var'] = df['var'].fillna(0)

In [ ]:
# Remove colunas com mais de 50% NA

In [ ]:
# Remove linhas com mais de 50% NA

In [ ]:
# Remove colunas e linhas com mais de 50% NA

In [ ]:
# Plotar relatório de missings
from dataprep.eda import plot_missing
plot_missing(df)

## Outliers

**Método HAMPEL**                         
Detalhes:
O limite inferior é median_value - 3mad_value. Todos os valores abaixo são considerados outliers.
O limite superior é median_value + 3mad_value. Todos os valores acima são considerados outliers.
O parâmetro chamado k_mad_value e seu valor padrão é 3. O valor k_mad_value pode ser modificado.
Quanto mais alto o valor k_mad_value, mais altos são os limites.

Podemos acessar a função interna usada prep_outlierspara calcular o limite de Hampel:


**Método de TURKEY**                         
Detalhes:
Este método marca outliers usando os quartis, Q1, Q2 e Q3, onde Q1 é indescritível no 25º percentil, Q2 no 50º percentil (também conhecido como mediana) e Q3 é o 75º percentil.

O intervalo interquartil (IQR) é calculado fazendo Q3 - Q1.

O limite inferior é: Q1 - 1,5 * IQR. Todos os valores abaixo são considerados outliers. O limite superior é: Q1 + 1,5 * IQR. Todos os valores acima são considerados outliers.

O valor 3 é para detectar o limite “extremo”. Este método vem do gráfico de caixa, onde o multiplicador é 1,5. Isso faz com que muitos mais valores sejam marcados como outliers.

In [ ]:
# Gerar um scater ploter
Grafico = px.scatter_matrix(df, dimensions=['var1', 'var2', 'var3'], color ='var4')
Grafico.show()

In [ ]:
# Plotar boxplot
sns.boxplot(data=df, x="var")
plt.show()

In [ ]:
# Identificando os outliers com o Zscore
x = stats.zscore(df['var'])
print("outliers", len(df[np.abs(x)>3]))

In [ ]:
# Identificando e plotando outliers

In [ ]:
# Histograma
plt.hist(x = df['var']);

In [ ]:
# Histograma 
plt.hist(x = df['var_1']);

In [ ]:
# Gráfico de barras rápido

In [ ]:
# Gráfico de densidade

In [ ]:
# Identificar outliers

In [ ]:
# Plotar diversos tipos de gráficos de forma rápida (Stats, Histogram, KDE Plot, Normal Q-Q Plot, Box Plot, Value Table)
from dataprep.eda import plot
plot(df, "var")

## Estatísticas

In [ ]:
# Descritivas completas com quartis, quantis, kurtosis e etc.

In [ ]:
# Estatisticas descritivas para 30 variaveis
summary = df.describe().transpose()
summary.head(30)

In [ ]:
# Estatísticas descritivas por grupos

In [ ]:
# Obter o somatório de uma coluna
Total_Var1 = df.Var1.sum()
Total_Var1

In [ ]:
# Exportar descritivas

In [ ]:
# Matriz de correlção
corr = df.corr()
corr.head()

In [ ]:
# Plotar matriz de correlação

In [ ]:
# Plotar matriz de correlação par a par

In [ ]:
# Exportar matriz de correlação

In [ ]:
# Gerar correlalograma
import seaborn as sns

corr_df = df.corr(method='pearson')
plt.figure(figsize=(16, 16))
sns.heatmap(corr_df, annot=True)
plt.show()

In [ ]:
# Plotar correlações 
from dataprep.eda import plot_correlation

plot_correlation(df, "var")

In [ ]:
# Proporções

In [ ]:
# Tabular dados de uma variável binária 
df.value_counts('var')

#ou
df[['var']].apply(pd.Series.value_counts)

In [ ]:
# tabular interação entre duas ou mais colunas
df.value_counts(["var_1", "var_2"])

In [ ]:
# Tabular dados condicionado a uma coluna (ex: Tratamento)
df2 = df.groupby(['var', 'D_Tratamento']).size().unstack(fill_value=0)
df2

In [ ]:
# Tabular dados agrupado por uma coluna (ex: tratamento)
df.groupby(by='D_Tratamento').size()

In [ ]:
# Tabular varias dummies 
df[['var_1', 'var_2', 'var_3', 'var_4', 'var_5']].apply(pd.Series.value_counts)

In [ ]:
# Grafico para variáveis categorica
sns.set(rc={'figure.figsize':(5,3)}) # setar tamanho do plot
sns.countplot(x='var', data=df)

In [ ]:
# Plotar diversas variáveis dummies
sns.set(rc={'figure.figsize':(10,3)}) # setar tamanho do plot
fig, ax =plt.subplots(1, 2)
sns.countplot(x='var_1', data=df, ax=ax[0])
sns.countplot(x='var_2',   data=df, ax=ax[1])

In [ ]:
# Grafico para variavel categorica ordenada
sns.set(rc={'figure.figsize':(25,3)}) # setar tamanho do plot
sns.countplot(x = 'cat',
              data = df,
              order = df['cat'].value_counts().index)

In [ ]:
# Ver correlação de todas colunas em relação a uma especifica

## Regressões Básicas Econometria

In [ ]:
# Pooled ols estimador

In [ ]:
# Between estimador

In [ ]:
# First differences estimador

In [ ]:
# Fixed effects ou within estimador

In [ ]:
# Random effects estimador

In [ ]:
# LM test for random effects versus pooled

In [ ]:
# LM test for fixed effects versus pooled

In [ ]:
# Hausman test for fixed vs random effects model

## Strings

In [ ]:
# Substituir caracteres

In [ ]:
# Remover caracteres específicos

In [ ]:
# Remover linhas que contém 4 caracteres ou mais caracteres

In [ ]:
# Padronizando strings retirando apenas alguns caracteres

In [ ]:
# Remove todos caracteres não-alfanuméricos

In [ ]:
# Remove todos caracteres não-numéricos

In [ ]:
# Remove todos caracteres numéricos

In [ ]:
# Remove caracteres especiais

In [ ]:
# Converte letras minusculas para maiusculas

In [ ]:
# Remover linhas com a expressão exata

In [ ]:
# Remover os espaços iniciais e finais

In [ ]:
# Deixar somente os dois primeiros caracteres

In [ ]:
# Replace (substituir) string
df.loc[df.var_1 == 'valor_antigo', 'var_1'] = 'valor_novo'

# ou 
df['var'] = df['var'].str.replace('valor_antigo', 'valor_novo')

In [ ]:
# Deixar somente alguns dígitos

In [ ]:
# Dividir coluna em várias
def split_string(text):
    return text.split(" ")
texto = "Esta função será bastante útil para separar grandes volumes de dados."

In [ ]:
# Comparar duas strings e gerar probabilidades baseado na semelhança

In [ ]:
# Como fazer um sorteio aleatório
import random
random.choice(['Maça', 'Banana', 'Laranja'])

## Merge, Join, Append

In [ ]:
# Append

In [ ]:
# Merge

In [ ]:
# Left_join

In [ ]:
# outros joins

## Dummy (One Hot Encode)

In [ ]:
# Gerar dummy
df['Dummy'] = df['var_string'].map({"categoria_1":0, "categoria_2":1})

In [ ]:
# Gerar condicional a mais de uma coluna
df['D_var'] = 0
df.loc[df.var1 != df.var2, 'D_var'] = 1

In [ ]:
# Gerar dummy com loop
# Gerar lista com os nomes das colunas
col_names =['var1' , 'var2' , 'var3']

# Gerar dummy
df['D_var'] = 0
for i in list(col_names):
    df.loc[df[i] == 1, 'D_var'] = 1

# Tabulas dummy
df.value_counts('D_var')

In [ ]:
# Gerar dummie com diversas condições

In [ ]:
# Gerar dummies de forma rapida
df2 = pd.get_dummies(df[["var_categorica"]])

# Visualizar
df2 = pd.concat([df["var_categorica"], df2], axis=1) 
df2.read()

In [ ]:
# Codificar variáveis categóricas

In [ ]:
# Gerar dummies a partir de uma variável categórica
df['D_var'] = 0
df.loc[(df['var1'] >= 1) & (df['var2'] <3) , 'D_var'] = 1

In [ ]:
# Transformar colunas em dummies

## Tarefas Prontas

In [ ]:
# Trabalhar com valores monetários utilizando R$

import locale

# utilize apenas uma destas configurações abaixo
locale.setlocale(locale.LC_ALL, 'pt_BR.UTF-8')    # configura todo o locale para pt_BR
locale.setlocale(locale.LC_MONETARY, 'pt_BR.UTF-8')     # configura apenas a parte monetária

valor = 1234.56

locale.currency(valor)
# 'R$ 1234,56'

locale.currency(valor, symbol=False, grouping=True)
# 1.234,56

locale.currency(valor, symbol=True, grouping=True, international=False)
# R$ 1.234,56

locale.currency(valor, symbol=True, grouping=True, international=True)
# BRL  1.234,56

In [ ]:
# Gerar codigo UF a partir do codigo IBGE do município
df['COD_UF'] = df['COD_MUN'].astype(str).str[:2].astype(int)

In [ ]:
# Dividir a base em treino e teste

# Importando a função train_test_split
from sklearn.model_selection import train_test_split

# Criar as bases de treinamento 75% e teste 25%
X_treinamento, X_teste, y_treinamento, y_teste = train_test_split(X_df, y_df, test_size=0.25, random_state=0)

In [ ]:
# Gerar relatório completo de forma automatizada
#!pip install -U dataprep

# Configurações para o pacote dataprep utilizar o máximo de memoria e processador
import logging
logging.basicConfig(level=logging.INFO)
logging.getLogger('numexpr').setLevel(logging.WARNING)

# Gerar relatório dos dados
from dataprep.eda import create_report
create_report(df)

In [ ]:
# Gerar relatório geral
#!pip install pandas_profiling
import pandas_profiling
pandas_profiling.ProfileReport(df)

In [ ]:
# Desabilitar notação científica

In [ ]:
# Apagar um arquivo salvo em uma pasta no computador

In [ ]:
# Verificar a quantidade de valores nulos
df['var1'].value_counts(dropna=False, sort=True)

In [ ]:
# Ver se existe valores duplicados
df.duplicated().sum()

In [ ]:
# Remover observações duplicadas
df =df.drop_duplicates()

In [ ]:
# Remover duplicados baseado em duas variáveis

In [ ]:
# Obter o valor mínimo de duas colunas

In [ ]:
# Padronização de escala das colunas do df               
#Ver mais detalhes em : https://medium.com/data-hackers/normalizar-ou-padronizar-as-vari%C3%A1veis-3b619876ccc9

from sklearn.preprocessing import StandardScaler
scaler_credit = StandardScaler()

# Aplicando a função StandardScaler
df_2 = scaler_credit.fit_transform(df)
df_2 = pd.DataFrame(df_2)

In [ ]:
# Normalização de dados (deixar em uma escala entr 0 e 1)
import pandas as pd
from sklearn import preprocessing

x = df.values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
df = pd.DataFrame(x_scaled)

In [ ]:
# min-max normalization:

normalized_df=(df-df.min())/(df.max()-df.min())

from sklearn.preprocessing import minmax_scale
X_ENEM = minmax_scale(X_ENEM, feature_range=(0,1), axis=0)

# standardize 
normalized_df=(df-df.mean())/df.std()

In [ ]:
# Normalizar apenas algumas colunas
from sklearn.preprocessing import minmax_scale
df_2[['var_1', 'var_2']] = minmax_scale(df[['var_1', 'var_2']])

In [ ]:
# Gerar um lag e lead de uma variável observando os grupos

In [ ]:
# Gerar (id) identificador a partir de uma ou mais colunas

In [ ]:
# Obter código IBGE das UF a partir do código de municípios

In [ ]:
# Adicionar os zeros a esquerda do CPF convertendo para string

In [ ]:
# Retirando ponto e traço de CPF

In [ ]:
# Gerar gráfico de uma variável categórica

# Setando configuração de fonte e tamanho da imagem
sns.set_style( "whitegrid", {'font.family':'serif', 'font.serif':'Times New Roman'})
plt.figure(figsize=(10,5))

# Gerar gráfico com countplot
ax =sns.countplot(x='var', 
                  data=df , 
                  palette="mako")

# Configurar títulos
plt.title('Titulo' , fontsize = 20)
plt.xlabel('Titulo eixo x' , fontsize = 20)
plt.ylabel('Titulo eixo y' , fontsize = 20)

# Adicionar labels no gráfico
for p in ax.patches:
        ax.annotate('{:.0f}'.format(p.get_height()), (p.get_x()+0.25, p.get_height()+100),fontsize=15)

# Configurar tamanho dos valores apresentados
plt.yticks(size=15)
plt.xticks(size=15)
plt.show()

#salvar
fig = ax.get_figure()
fig.savefig("nome do gráfico.png")

In [ ]:
# Gerar gráfico de pizza explodido

# Tabular a variável categorica e pegar os calores de cada categoria
# df.value_counts(["var"])

# Setando cores, labels, valores e explosão
colors = ['#3D6F94','#329BA3','#87D8B3']
labels = 'cat_1', 'cat_2', 'cat_3'
valores = [8932, 4815, 305]
explode = (0.05, 0.05, 0.05)  # only "explode" the 2nd slice (i.e. 'Hogs')

# Gerar Gráfico de Pizza
fig1, ax1 = plt.subplots()
ax1.pie(valores, 
        explode=explode, 
        radius = 1.25,
        labels=labels, 
        labeldistance =1.1,
        autopct='%1.2f%%',
        shadow=True, 
        startangle=30, 
        colors=colors, 
        textprops={'color':"black", 'fontsize': 15})

# Titulo do Gráfico
plt.title('Titulo do gráfico', fontsize = 20)

# Condifigurar e posicionar legenda
ax1.legend(legend_labels, ["cat_1 = 8.932", "cat_2 = 4.815", "cat_3 = 305"], bbox_to_anchor=(1.7,0.3), loc='lower center')

# Tamanho da fonte dos números
import matplotlib as mpl

# Plotar
plt.show()

#salvar
fig = ax1.get_figure()
fig.savefig("nome do gráfico.png")

In [ ]:
# plotar gráfico de barras na horizontal com legenda
sns.set_style( "whitegrid", {'font.family':'serif', 'font.serif':'Times New Roman'})
plt.figure(figsize=(15,15))
ax =sns.countplot(y='nm_razao_social', 
                  hue='Infração2',
                  data=df, 
                  palette="mako",
                  order=df.nm_razao_social.value_counts().iloc[:20].index)

# Configurar legenda e posição
legend_labels, _= ax.get_legend_handles_labels()
ax.legend(legend_labels, ['Desmatamentos','Queimadas'], bbox_to_anchor=(1,0.5))

# Titulos e tamanho das fontes
plt.title('Infrações e Seguradoras', fontsize = 20)
plt.xlabel('Infrações', fontsize = 15)
plt.ylabel('Seguradoras', fontsize = 15)

rects = ax.patches

# Para cada barra: coloque um rótulo
for rect in rects:
    # Obtenha o posicionamento X e Y do rótulo de retângulo.
    x_value = rect.get_width()
    y_value = rect.get_y() + rect.get_height() / 2

    # Número de pontos entre a barra e o rótulo. Mude ao seu gosto.
    space = 5
    # Alinhamento vertical para valores positivos
    ha = 'left'

    # Se o valor da barra for negativo: coloque o rótulo à esquerda da barra
    if x_value < 0:
        # Inverta o espaço para colocar o rótulo à esquerda
        space *= -1
        # Alinhar o rótulo horizontalmente à direita
        ha = 'right'

    # Use o valor X como rótulo e número de formato sem casas decimais
    label = "{:.0f}".format(x_value)

    # Create annotation
    plt.annotate(
        label,                      # Use `label` como label
        (x_value, y_value),         # Coloque a etiqueta no final da barra
        xytext=(space, 0),          # Mude o rótulo horizontalmente por `space`
        textcoords="offset points", # Interpretar `xytext` como deslocamento em pontos
        va='center',                # Etiqueta centralizada verticalmente
        ha=ha,                      # Alinhe o rótulo horizontalmente de maneira diferente para
        fontsize=15)                # Tamanho da fonte   
                                    

# Fontes e tamanhos dos sticks
plt.yticks(size=15)
plt.xticks(size=12)
plt.show()

#salvar
fig = ax.get_figure()
fig.savefig("Infrações por seguradoras.png")

In [ ]:
# Plotar treemap
import plotly.express as px
import pandas as pd

# Gerar df2 
df2 = pd.DataFrame({'Queimadas':[196,35,19,16,10,11,8,5,4,1,1],
                    'Seguradoras':["Brasilseg", "Mapfre", "Swiss Re", "Sancor", "Newe", "Tokio Marine", "Allianz", "Nobre", "FairFax", "Aliança do Brasil", "Essor"] })


# Gerar treemap
fig = px.treemap(df2, path=[px.Constant("Seguradoras"), 'Seguradoras'], values='Queimadas',
                color_continuous_scale='RdBu',
                color='Queimadas',
                width=800, height=600)

# Configurar layout
fig.update_layout(margin = dict(t=1, l=1, r=1, b=1))
fig.show()

In [ ]:
# Gerar treemap com duas categorias

# Gerar dataframe
df2 = pd.DataFrame({'Infrações':[3217, 414, 362, 196, 171, 139, 130, 92, 85, 42, 39, 38, 35, 33, 29, 19, 16, 13, 11, 10, 10, 8, 5 , 4 , 1, 1],
                    'Seguradoras':["Brasilseg", "Mapfre", "Swiss Re", "Brasilseg", "Essor", "Nobre", "Allianz", "FairFax", "Sancor", 
                                   "Tokio Marine", "Too", "Aliança do Brasil", "Mapfre", "Newe", "Porto Seguro", "Swiss Re", "Sancor", "Excelsior", 
                                   "Sompo", "Newe", "Tokio Marine", "Allianz", "Nobre", "FairFax", "Aliança do Brasil", "Essor"],
                    'Tipo_infra':['Desmatamentos', 'Desmatamentos','Desmatamentos','Queimadas','Desmatamentos','Desmatamentos','Desmatamentos',
                                'Desmatamentos','Desmatamentos','Desmatamentos','Desmatamentos','Desmatamentos','Queimadas','Desmatamentos','Desmatamentos',
                                'Queimadas','Queimadas','Desmatamentos','Desmatamentos','Queimadas','Queimadas','Queimadas','Queimadas','Queimadas','Queimadas','Queimadas']})

df2

import plotly.express as px

d = {'count': [1,1,1,2,2,3,3,3,4], 
     'name': ['bob','bob','bob','shelby','shelby','jordan','jordan','jordan','jeff'],
     'type': ['type1','type2','type4','type1','type6','type5','type8','type2',None],
     'salary':[1000,2000,3000,10000,15000,30000,100000,50000,25000]}
df = pd.DataFrame(data=d)

# group data and aggregate
df_plot = df2.groupby(['Seguradoras','Tipo_infra'])[['Infrações']].sum().reset_index()
df_plot.sort_values(by=['Seguradoras','Tipo_infra'],inplace=True)

# plot treemap
fig = px.treemap(df_plot,
                 values='Infrações',
                 color='Infrações',
                 color_continuous_scale='RdBu',
                 path=['Seguradoras','Tipo_infra'],
                 width=800, height=600)

# fig.data[0].textinfo = 'label+value+percent parent'
percents = (100*df2.Infrações / sum(df2.Infrações)).tolist()
Infrações = df2.Infrações.tolist()

## store multiple lists of data in customdata
fig.data[0].customdata = np.column_stack([Infrações])
fig.data[0].texttemplate = "%{label} = %{value}<br>Queimadas: = %{customdata[0]}"
fig.show()

Gerar classes etárias

df$Idade_grp <- df$Idade
df$Idade_grp <- ifelse((df$Idade>=1  & df$Idade<=10) , 'Idade_01_20',df$Idade_grp)
df$Idade_grp <- ifelse((df$Idade>=10 & df$Idade<=20) , 'Idade_10_20',df$Idade_grp)
df$Idade_grp <- ifelse((df$Idade>=21 & df$Idade<=30) , 'idade_21_30',df$Idade_grp)
df$Idade_grp <- ifelse((df$Idade>=31 & df$Idade<=40) , 'idade_31_40',df$Idade_grp)
df$Idade_grp <- ifelse((df$Idade>=41 & df$Idade<=50) , 'idade_41_50',df$Idade_grp)
df$Idade_grp <- ifelse((df$Idade>=51 & df$Idade<=60) , 'idade_51_60',df$Idade_grp)
df$Idade_grp <- ifelse((df$Idade>=61 & df$Idade<=70) , 'idade_61_70',df$Idade_grp)
df$Idade_grp <- ifelse((df$Idade>=71) , 'idade_71_mais',df$Idade_grp)
df <- dummy_cols(df, select_columns = "Idade_grp")

In [ ]:
# Balanceando classes em modelos de Machine Learning (Removendo observações da classe majoritária)
import seaborn as sns
import matplotlib.pyplot as plt

# Plotar a distribuição das classes para ver se existe desbalanceamento
sns.displot(df, X="var_1", hue="var_1")
plt.show

# separar as classes desbalanceadas
classe_maior = df[df['var_1']== 'classe maior']
classe_menor = df[df['var_1']== 'classe menor']

# Printar os comprimentos das classes
print("classe maior", len(classe_maior))
print("classe menor", len(classe_menor))

# Equilibrando o tamanho de forma aleatória
nova_classe_menor = classe_menor.sample(len(classe_maior))

# Unindo os dados
novo_df = pd.concat([nova_classe_menor, classe_maior],  axis=0)

# Plotar a distribuição das classes para ver se existe desbalanceamento
sns.displot(df, X="var_1", hue="var_1")
plt.show

In [ ]:
# Remover acentos

In [ ]:
# Deflacionar variáveis monetárias (deflatebr)

In [ ]:
# Plotar Gráficos Lado a Lado

In [ ]:
# Gerar estações do ano a partir de uma variável do tipo date

## Importar e Exportar Dados

In [ ]:
# Salvar e carregar dados em pkl
# Importar pacote para salvar base de dados em disco
import pickle

# Salvando arquivo
# onde: wb = write 
with open('df.pkl', mode='wb') as f:
    pickle.dump([X_treinamento, y_treinamento, X_teste, y_teste],f)

# Carregando base salva
with open('df.pkl', 'rb') as f:
    X_treinamento, y_treinamento, X_teste, y_teste = pickle.load(f)

In [ ]:
# Salvar pandas dataframe como pickle

# Importar pacote para salvar base de dados em disco
import pickle

# Salvar dataframe
df.to_pickle("df.pkl")

# Carregar dataframe
df = pd.read_pickle("df.pkl")

In [ ]:
# Importar arquivo excel
df = pd.read_excel('df.xlsx')

In [ ]:
# Exportar arquivo excel

In [ ]:
# Importar .csv 
df = pd.read_csv('D:\df.csv', sep = ",")

In [ ]:
# Importar somente algumas colunas do dataframe
colunas = ['var_1', 'var_2', 'var_3', 'var_4']

# Importar .csv 
df = pd.read_csv('D:\df.csv', sep = ",", names=colunas)

In [ ]:
# Exportar .csv 
df.to_csv('df.csv', encoding = 'utf-8', index = False)

In [ ]:
# Importar base de dados do stata .dta

In [ ]:
# Exportar base de dados do stata .dta

In [ ]:
# Importar varios arquivos .csv fazer append e gerar uma coluna com nome dos arquivos

In [ ]:
# Importar varios arquivos .csv e usar o endereço e nome do arquivo como nome da tabela

In [ ]:
# Importar dados do SQLite

Webscrap por meio de um API do governo

Nota: basicamente o que esses comandos fazem é pegar os códigos das estações meteorológicas e substituir no comando que acessa o site, baixar os dados meteorológicos do inmet e salvar em .csv)
    
    # Definir um vetor com o código das estações meteorológicas 
> Obs: tem aproximadamente 912 estações, consultar no site do imet
x <- c(83512,83659,83704)
Estacao = list()
Tabela_Estacao = list()

for(cod in x) {
  Estacao[[as.character(cod)]] <- fromJSON(paste0("https://apitempo.inmet.gov.br/estacao/2000-01-01/2020-12-31/", cod))
  Tabela_Estacao[[as.character(cod)]]<- as_data_frame(Estacao[[as.character(cod)]])
  write.csv(Estacao[[as.character(cod)]], paste0('Tabela_Estacao_', cod, '.csv'))
}

## SQLite 

* O SQLite é instalado automaticamente juntocom o Anaconda.
* Documentação SQLite: http://www.sqlite.org/docs.html 
* É possivel abrir o SQLite no SQL Browser https://sqlitebrowser.org/dl/

#### Bancos de dados Relacionais
* Bancos de dados relacionais como MySQL, PostgreSQL e SQLite3 representam e armazenam dados em tabelas e linhas.
* Os bancos de dados relacionais utilizam SQL (Structured Querying Language), sendo uma escolha adequada para aplicativos que envolvam o gerenciamento de várias transações.
* A estrutura de um banco de dados relacional permite vincular informações de diferentes tabelas por meio do uso de chaves (ou índices).vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv

### Exemplo 1 - Como criar um banco SQL e adicionar valores.

In [ ]:
# Reemover banco de dados SQLite (caso exista)
import os
os.remove("escola.db") if os.path.exists("escola.db") else None

In [ ]:
# Importando o módulo de acesso ao SQLite
import sqlite3

In [ ]:
# Cria uma conexão com o banco de dados. 
# Se o banco de dados não existir, ele é criado neste momento.
con = sqlite3.connect('escola.db')
type(con)

In [ ]:
# Criando um cursor 
# (Um cursor permite percorrer todos os registros em um conjunto de dados)
cur = con.cursor()
type(cur)

In [ ]:
# Criando outra sentença SQL para selecionar registros
sql_select = 'select * from cursos'
cur.execute(sql_select)

## TRABALHAR COM MAPAS

https://github.com/ipeaGIT/geobr

In [ ]:
# Gerar mapa coropletico
#pip install geopandas

# import geopandas
import geopandas as gpd
from geobr import read_state

# Read specific municipality at a given year
INFO_UFS = read_state(year=2017)
INFO_UFS


# Agregar os dados por estados
df2 = df.groupby(["Siglas"]).agg(var1_sum=pd.NamedAgg(column="var1", aggfunc="sum"),
                                 var2_sum=pd.NamedAgg(column="var2", aggfunc="sum"))

# Converter nome das linhas para coluna
df2.index.name = 'abbrev_state'
df2.reset_index(inplace = True)
df2

# ver dataframe
df2

# Unindo df com df2
df3 = INFO_UFS.merge(df2, on="abbrev_state", how='left')

# Replace missings para zero
df3['Desmatamento'] = df3['Desmatamento'].fillna(0)
df3['Queimada'] = df3['Queimada'].fillna(0)

# ver df
df3

# Plotar no jupyter
%matplotlib inline

# Plotar gráfico coroplético
ax = df3.plot(column = 'VAR',
              cmap = 'Reds',
              figsize = (16, 10),
              legend = True,
              scheme='fisher_jenks',
              label="abbrev_state",
              edgecolor = 'black')

# Titulo
plt.title('Titulo do Gráfico', fontsize = 20)
plt.show()

#salvar
fig = ax.get_figure()
fig.savefig("Grafico_1.png")